
@import '../../styles/scss/abstracts/mixins';
 
 .searchInput {  
     display: flex;
     background-color: rgb(161, 152, 155);
     border-radius: 10px;
     padding: 0px 10px;
     margin: 0px 40px;
     height: 35px;

     @include respond(phone) {
         margin: 0px;
     }
     .searchIcon {
         color: rgb(199, 194, 194);
         margin-top: 5px !important;
       
     }
     ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color:rgb(240, 230, 230) !important;
        opacity: 0.5; /* Firefox */
      }
      
     input {
         border: none;
         background-color: rgb(161, 152, 155);
         width: 100%;
         outline: none !important;
         color: white !important;
         margin: 0px 10px;

         
     }
 }